:root {
	font-size: max(calc(12px + (24 - 20) * (100vw - 1080px) / (3840 - 1080)), 12px);
}

p, a, div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-screen {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.main-cover {
	opacity: 0;
	max-width: calc(100% - 1px);
  max-height: 100%;
  object-fit: contain;
  pointer-events: none;
}

@media (min-aspect-ratio: 18/9) {
  .main-cover {
    width: auto;
    height: 100%;
  }
}

@media (max-aspect-ratio: 18/9) {
  .main-cover {
    width: 100%;
    height: auto;
  }
}

#root {
	position: relative;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	height: 4rem;
  margin-bottom: 3rem;
}

.start-info, .loading-info, .keyboard-info {
	opacity: 0;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3rem;
	color: #e55555;
	text-align: center;
}

.start-info.mobile {
	font-size: 1.5rem;
	opacity: 1 !important;
}

.keyboard-info {
	background-color: #e55555;
	color: #fff;
	padding: 1.2rem 1.2rem 1rem 1.2rem;
	border-radius: 0.5rem;
 	position: absolute;
	top: 6rem;	
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
}

.loading-screen {
	position: absolute;
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
	background: #F7F7F7;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.loading-info {
	opacity: 1;
	position: fixed;
	bottom: 3rem;
	text-align: center;
}

.keyboard-controls {
	opacity: 0;
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.keyboard-controls svg {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.interface {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	font-family: 'Bebas Neue', sans-serif;
}

.countdown-value {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 10rem;
	color: #e55555;
}

.vehicle-stats-overlay, .circuit-stats-overlay, .countdown-overlay, .pause-overlay, .finish-overlay, .reset-alert-overlay {
	transform: none !important;
  width: 100%;
	display: flex !important;
	justify-content: center;
	font-variant-numeric: tabular-nums;
	z-index: 1 !important;
}

.countdown-overlay, .pause-overlay, .finish-overlay, .reset-alert-overlay {
  height: 100%;
	align-items: center;
	z-index: 2 !important;
}

.finish-stats {
	width: 16rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: #ffffff33;
	backdrop-filter: blur(0.25rem);
	border-radius: 0.25rem;
	padding: 2rem;
	border: 0.125rem solid #00000010;
}

.pause-menu-overlay {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff33;
	backdrop-filter: blur(0.25rem);
	border-radius: 0.25rem;
}

.pause-menu {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pause-menu-title {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3rem;
	color: #e55555;
	position: absolute;
	top: 3rem;
	margin: 0;
}

.pause-menu-options {
	display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.game-settings {
	position: absolute;
	bottom: 3rem;
}

.finish-stats {
	position: relative;
	opacity: 0;
	text-align: center;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3rem;
	color: #e55555;
}

.pause-menu-overlay button, .finish-stats button {
	background-color: #ffffff80;
	border: none;
	border-radius: 0.25rem;
	height: 4rem;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2rem;
	color: #e55555;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	padding: 0rem;;
}

.worse-time, .better-time {
	font-size: 2rem;
}

.worse-time {
	color: #b12c2c;
}

.better-time {
	color: #606060;
}

.confetti-explosion {
	position: absolute;
  left: 50%;
  top: 50%;
}

.pause-menu-overlay button:hover, .pause-menu-overlay button:focus, .finish-stats button:hover, .finish-stats button:focus {
	background-color: #ffffffb0;
	color: #606060;
}

.pause-menu-overlay button:focus-visible, .finish-stats button:focus-visible {
	outline: 0px solid #fff;
}
	
.vehicle-stats-overlay { 
	bottom: 0;
}

.vehicle-stats {
	position: relative;
	bottom: 2rem;
}

.vehicle-transmission, .vehicle-speed {
	height: 4rem;
  width: 4rem;
	margin: 0rem;
  display: flex;
  justify-content: center;
	align-items: center;
	padding-top: 0.125rem;
	color: #e55555;
  font-size: 2rem;
}

.vehicle-gear-stats {
	width: 12rem;
  margin: 1rem 0;
	border-radius: 0.25rem;
	background-color: #00000005;
}

.vehicle-speed-bar {
	background-color: #e55555;
	height: 100%;
	transition: width 0.05s ease-in-out;
	border-radius: 0.25rem;
}

.circuit-stats {
	position: relative;
	top: 2rem;
	justify-content: space-between;
	width: 20rem;
	padding: 0 1.5rem;
}

.vehicle-stats, .circuit-stats {
	display: flex;
	height: 4rem;
	font-family: 'Bebas Neue', sans-serif;
	border-radius: 0.25rem;
	background-color: #ffffff33;
	backdrop-filter: blur(0.25rem);
	border: 0.125rem solid #00000010;
}

.circuit-lap, .circuit-time {
	height: 4rem;
	margin: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0.125rem;
	color: #e55555;
	font-size: 2rem;
}

.reset-alert {
	margin-bottom: 20% ;
}

.reset-message {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3rem;
	color: #e55555;
}

.source-info-buttons {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	display: flex;
	gap: 2rem;
}

.game-option-btn {
	background-color: #ffffff33;
	backdrop-filter: blur(0.25rem);
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	border: 0.125rem solid #00000010;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.game-option-btn svg {
	width: 1.75rem;
	height: 1.75rem;
	fill: #606060;
	transition: all 0.4s ease-in-out;
}

.game-option-btn:hover {
	background-color: #f0f0f0;
}

.game-option-btn:hover svg {
	fill: #404040;
}

#specs-info-btn {
	position: relative;
}

.specs-info {
	position: absolute;
  bottom: 6rem;
  right: 0;
	background-color: #ffffff33;
	backdrop-filter: blur(0.25rem);
	width: fit-content;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 0.25rem;
	border-radius: 0.5rem;
	border: 0.05rem solid #00000010;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.4s ease-in;
}

.specs-info.active {
	opacity: 1;
}

.specs-info span {
	font-family: 'Bebas Neue', sans-serif;
	width: max-content;
}

.specs-info-title {
	font-size: 2rem;
	color: #404040;
}

.specs-info-text {
	font-size: 1.5rem;
	color: #606060;
}

.pause-button-overlay {
	transform: none !important;
	width: 4rem;
	height: 4rem;
	display: flex !important;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
	top: 2rem !important;
	right: 2rem !important;
	left: unset !important;
}

.settings-button-overlay {
	transform: none !important;
	width: 4rem;
	height: 4rem;
	display: flex !important;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
	top: 2rem !important;
	left: 2rem !important;
	position: relative;
}

.settings-options {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.25rem;
	background-color: #FAFAFA;
	width: fit-content;
	padding: 1rem;
	border-radius: 0.5rem;
	border: 0.05rem solid #E0E0E0;
	opacity: 0;
	transition: opacity 0.4s ease-in;
	top: 6rem;
}

.settings-options.active {
	opacity: 1;
}

.settings-options span {
	font-family: 'Bebas Neue', sans-serif;
	width: max-content;
}

.settings-options-title {
	font-size: 1.5rem;
	color: #404040;
}

.settings-options-text {
	font-size: 1.25rem;
	color: #606060;
}

@media screen and (max-width: 1080px) {
	.keyboard-controls {
		width: 100%;
	}
}

.cls-1 {
	fill: #f0f0f0;
}

.cls-2 {
	fill: #fff;
}

.cls-3, .cls-4 {
	fill: #aaa;
}

.cls-6 {
	fill: #f7f7f7;
}

.cls-7 {
	fill: #eee;
}