:root {
	font-size: max(calc(12px + (32 - 12) * (100vw - 1920px) / (3840 - 480)), 12px);
}

p, a, div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body, #root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F7F6F5;
}

.main-screen {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-cover {
	opacity: 0;
	width: 100%;
	object-fit: cover;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.start-info, .loading-info {
	opacity: 0;
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;
	color: #E37B7C;
}

.start-info {
	text-align: center;
}

.start-info.mobile {
	font-size: 1.5rem;
	opacity: 1 !important;
}

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F7F6F5;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.loading-info {
	opacity: 1;
	position: fixed;
	bottom: 6rem;
  right: 6rem;
}

.keyboard-controls {
	opacity: 0;
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.interface {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	font-family: 'Bebas Neue', cursive;
}

.countdown-value {
	font-family: 'Bebas Neue', cursive;
	font-size: 10rem;
	color: #E37B7C;
}

.vehicle-stats-overlay, .circuit-stats-overlay, .countdown-overlay, .pause-overlay, .finish-overlay, .reset-alert-overlay {
	transform: none !important;
  width: 100%;
	display: flex !important;
	justify-content: center;
	font-variant-numeric: tabular-nums;
	z-index: 1 !important;
}

.countdown-overlay, .pause-overlay, .finish-overlay, .reset-alert-overlay {
  height: 100%;
	align-items: center;
	z-index: 2 !important;
}

.pause-stats, .finish-stats {
	width: 20rem;
	display: flex;
	flex-direction: column;
	background-color: #00000020;
	opacity: 0.8;
	border-radius: 0.25rem;
	padding: 2rem;
	border: 0.125rem solid #00000010;
}

.finish-stats {
	opacity: 0;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;
	color: #ffffff;
}

.pause-stats button, .finish-stats button {
	background-color: #00000030;
	border: none;
	border-radius: 0.25rem;
	height: 4rem;
	font-family: 'Bebas Neue', cursive;
	font-size: 2rem;
	color: #fff;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	padding: 0rem;;
}

.pause-stats > *:not(:last-child), .finish-stats > *:not(:last-child) {
	margin-bottom: 1rem;
}

.worse-time, .better-time {
	font-size: 2rem;
}

.worse-time {
	color: #e37b7d;
}

.better-time {
	color: #ffffff
}

.pause-stats button:hover, .pause-stats button:focus, .finish-stats button:hover, .finish-stats button:focus {
	background-color: #00000050;
}

.pause-stats button:focus-visible, .finish-stats button:focus-visible {
	outline: 1px solid #404040;
}
	
.vehicle-stats-overlay { 
	bottom: 0;
}

.vehicle-stats {
	position: relative;
	bottom: 2rem;
	display: flex;
	height: 4rem;
	opacity: 0.8;
	font-family: 'Bebas Neue', cursive;
	border-radius: 0.25rem;
	background-color: #ffffff80;
	backdrop-filter: blur(1rem);
	border: 0.125rem solid #00000010;
}

.vehicle-transmission, .vehicle-speed {
	height: 4rem;
  width: 4rem;
	margin: 0rem;
  display: flex;
  justify-content: center;
	align-items: center;
	padding-top: 0.125rem;
	color: #e37b7d;
  font-size: 2rem;
}

.vehicle-gear-stats {
	width: 12rem;
  margin: 1rem 0;
	border-radius: 0.25rem;
	background-color: #ffffff;
}

.vehicle-speed-bar {
	background-color: #e37b7d;
	height: 100%;
	transition: width 0.05s ease-in-out;
	border-radius: 0.25rem;
}

.circuit-stats {
	position: relative;
	top: 2rem;
	display: flex;
	justify-content: space-between;
	width: 20rem;
	padding: 0 1.5rem;
	height: 4rem;
	opacity: 0.8;
	font-family: 'Bebas Neue', cursive;
	border-radius: 0.25rem;
	background-color: #ffffff80;
	backdrop-filter: blur(1rem);
	border: 0.125rem solid #00000010;
}

.circuit-lap, .circuit-time {
	height: 4rem;
	margin: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0.125rem;
	color: #e37b7d;
	font-size: 2rem;
}

.reset-alert {
	margin-bottom: 20% ;
}

.reset-message {
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;
	color: #e37b7d;
}

@media screen and (max-width: 1080px) {
	.keyboard-controls {
		width: 100%;
	}
}