:root {
	font-size: max(calc(12px + (32 - 12) * (100vw - 1920px) / (3840 - 480)), 12px)
}
html, body, #root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #F7F6F5;
}

.main-screen {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-cover {
	opacity: 0;
	width: 100%;
	object-fit: cover;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.start-info, .loading-info {
	opacity: 0;
	font-family: 'Bebas Neue', cursive;
	font-size: 3rem;
	color: #E37B7C;
}

.loading-info {
	position: fixed;
	bottom: 6rem;
  right: 6rem;
}

.keyboard-controls {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.interface {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	font-family: 'Bebas Neue', cursive;
}

.time {
	position: absolute;
	right: 0;
	width: 10rem;
	color: #ffffff;
	font-size: 2rem;
	background: #00000020;
	text-align: center;
}

.vehicle-stats-overlay, .circuit-stats-overlay {
	transform: none !important;
  width: 100%;
	display: flex !important;
	justify-content: center;
	font-variant-numeric: tabular-nums;
}

.vehicle-stats-overlay { 
	bottom: 0;
}

.vehicle-stats {
	position: relative;
	bottom: 2rem;
	display: flex;
	height: 4rem;
  background-color: #00000020;
	font-family: 'Bebas Neue', cursive;
	border-radius: 0.25rem;
}

.vehicle-transmission, .vehicle-speed {
	height: 4rem;
  width: 4rem;
	margin: 0rem;
  display: flex;
  justify-content: center;
	align-items: center;
	padding-top: 0.125rem;
	color: #ffffff;
  font-size: 2rem;
}

.vehicle-gear-stats {
	width: 8rem;
  margin: 1rem 0;
	border-radius: 0.25rem;
	background-color: #ffffff33;
}

.vehicle-speed-bar {
	background-color: white;
	height: 100%;
	transition: width 0.05s ease-in-out;
	border-radius: 0.25rem;
}

.circuit-stats {
	position: relative;
	top: 2rem;
	display: flex;
	justify-content: space-between;
	width: 16rem;
	padding: 0 1.5rem;
	height: 4rem;
  background-color: #00000020;
	font-family: 'Bebas Neue', cursive;
	border-radius: 0.25rem;
}

.circuit-lap, .circuit-time {
	height: 4rem;
	margin: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0.125rem;
	color: #ffffff;
	font-size: 2rem;
}