html, body, #root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: ivory;
	font-size: 16px;
}

.interface {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	font-family: 'Bebas Neue', cursive;
}

.time {
	position: absolute;
	top: 15%;
	right: 0;
	width: 10rem;
	color: #ffffff;
	font-size: 2rem;
	background: #00000020;
	padding-top: 5px;
	text-align: center;
}

.vehicle-stats-overlay {
	display: flex;
	justify-content: center;
	font-variant-numeric: tabular-nums;
}
.vehicle-stats {
	position: absolute;
	bottom: 2rem;
	display: flex;
	height: 4rem;
  background-color: #00000020;
	font-family: 'Bebas Neue', cursive;
	border-radius: 0.25rem;
}

.vehicle-transmission, .vehicle-speed {
	height: 4rem;
  width: 4rem;
	margin: 0rem;
  display: flex;
  justify-content: center;
	align-items: center;
	padding-top: 0.125rem;
	color: #ffffff;
  font-size: 2rem;
}

.vehicle-gear-stats {
	width: 8rem;
  margin: 1rem 0;
	border-radius: 0.25rem;
	background-color: #ffffff33;
}

.vehicle-speed-bar {
	background-color: white;
	height: 100%;
	transition: width 0.05s ease-in-out;
	border-radius: 0.25rem;
}

.circuit-stats-overlay {
	transform: none !important;
  width: 100%;
	display: flex;
	justify-content: center;
	font-variant-numeric: tabular-nums;
}

.circuit-stats {
	position: relative;
	top: 2rem;
	display: flex;
	justify-content: space-between;
	width: 16rem;
	padding: 0 1.5rem;
	height: 4rem;
  background-color: #00000020;
	font-family: 'Bebas Neue', cursive;
	border-radius: 0.25rem;
}

.circuit-lap, .circuit-time {
	height: 4rem;
	margin: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0.125rem;
	color: #ffffff;
	font-size: 2rem;
}