html, body, #root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: ivory;
	font-size: 16px;
}


.interface {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	font-family: 'Bebas Neue', cursive;
}

.time {
	position: absolute;
	top: 15%;
	right: 0;
	width: 10rem;
	color: #ffffff;
	font-size: 2rem;
	background: #00000033;
	padding-top: 5px;
	text-align: center;
}

.restart {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 80px;
    background: #00000033;
    padding-top: 10px;
    pointer-events: auto;
    cursor: pointer;
}

.controls {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
}

.controls .raw {
    display: flex;
    justify-content: center;
}

.controls .key {
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 2px solid #ffffff;
    background: #ffffff44;
}

.controls .key.large {
    width: 144px;
}

.controls .key.active {
    background: #ffffff99;
}