:root {
	font-size: max(calc(12px + (24 - 20) * (100vw - 1080px) / (3840 - 1080)), 12px);
}

p, a, div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-screen {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.main-cover {
	opacity: 0;
	max-width: calc(100% - 1px);
  max-height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.main-cover.mobile {
	transform: scale(1.33);
}

@media (min-aspect-ratio: 18/9) {
  .main-cover {
    width: auto;
    height: 100%;
  }
}

@media (max-aspect-ratio: 18/9) {
  .main-cover {
    width: 100%;
    height: auto;
  }
}

#root {
	position: relative;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
	height: 4rem;
  margin-bottom: 10rem;
}

.start-info, .loading-info, .keyboard-info {
	opacity: 0;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3rem;
	color: #e55555;
	text-align: center;
}

.start-info.mobile {
	font-size: 1.5rem;
	opacity: 1 !important;
}

.keyboard-info {
	background-color: #e55555;
	color: #fff;
	padding: 0.8rem 1.2rem 0.6rem 1.2rem;
	border-radius: 0.5rem;
 	position: absolute;
	top: 10rem;	
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
}

.loading-screen {
	position: absolute;
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
	background: #F7F7F7;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.loading-info {
	opacity: 1;
	position: fixed;
	bottom: 10rem;
	text-align: center;
}

.keyboard-controls {
	opacity: 0;
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.keyboard-controls svg {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.interface {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	font-family: 'Bebas Neue', sans-serif;
}

.countdown-value {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 10rem;
	color: #e55555;
}

.vehicle-stats-overlay, .circuit-stats-overlay, .countdown-overlay, .pause-overlay, .finish-overlay, .reset-alert-overlay, .leaderboard-overlay {
	transform: none !important;
  width: 100%;
	display: flex !important;
	justify-content: center;
	font-variant-numeric: tabular-nums;
	z-index: 1 !important;
}

.countdown-overlay, .pause-overlay, .finish-overlay, .reset-alert-overlay {
  height: 100%;
	align-items: center;
	z-index: 2 !important;
}

.finish-stats {
	width: 16rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: #ffffff33;
	backdrop-filter: blur(0.25rem);
	border-radius: 0.5rem;
	padding: 2rem;
	border: 0.125rem solid #00000010;
	position: relative;
}

.leaderboard-overlay {
	height: 100%;
	align-items: center;
}

.leaderboard-stats {
	width: 30rem;
	max-width: calc(100% - 8rem);
  display: flex;
  flex-direction: column;
  background-color: #ffffff33;
  backdrop-filter: blur(.25rem);
  border-radius: .5rem;
  padding: 2rem;
  border: .125rem solid #00000010;
	gap: 1rem;
}

.leaderboard-list-area {
	max-height: 30rem;
  height: 50vh;
}

.leaderboard-list {
	-ms-overflow-style: none;
  scrollbar-width: none;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: 0.5rem;
  border: 0.125rem solid #00000010;
  padding: 1rem;
  box-sizing: border-box;
	background-color: #ffffffb0;
}

.leaderboard-list.loading {
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: loadingRequest;
	animation-timing-function: linear;
	background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
	background-size: 1000px 640px;
}

.leaderboard-list::-webkit-scrollbar {
  display: none;
}

.leaderboard-list-item {
	display: flex;
	height: 4rem;
	font-size: 1.5rem;
	gap: 0.5rem;
	font-variant-numeric: tabular-nums;
}

.leaderboard-list-item:not(:last-child) {
	padding-bottom: 1rem;
}

.leaderboard-list-item-content {
	display: flex;
	background-color: #ececec;
	border-radius: 0.5rem;
	width: 100%;
}

.leaderboard-list-item-content div {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	height: 4rem;
	color: #404040;
}

.leaderboard-list-item-content div.position {
	width: 2rem;
	justify-content: center;
	background-color: #ffffff80;
	border-radius: 0.5rem 0 0 0.5rem;
}

.leaderboard-list-item-content div.name {
	flex: 1;
}

.leaderboard-list-item.user .leaderboard-list-item-content {
	background-color: #ffdede;
	border: 0.125rem solid #e5555540;
	box-sizing: border-box;
}

.leaderboard-list-item.user .leaderboard-list-item-content div {
	color: #b12c2c !important;
}

.leaderboard-list-item.user .leaderboard-list-item-content div.position {
	background-color: #ffffff00;
}

.leaderboard-header {
	display: flex;
  gap: 1rem;
  align-items: center;
  height: 6rem;
}

.leaderboard-header .finish-record {
	flex: 1;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: #404040;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 0.125rem solid #00000010;
  border-radius: 0.5rem;
  background-color: #f4f4f4;
  justify-content: center;
}

.leaderboard-header .finish-time {
	padding: 0.5rem 1rem;
  height: 100%;
  box-sizing: border-box;
  background-color: #f198981e;
  backdrop-filter: blur(0.25rem);
  border: 0.125rem solid #e5555540;
  border-radius: 0.5rem;
}

.error-message {
	position: absolute;
  bottom: -6rem;
  font-size: 1.5rem;
  width: 100%;
  height: 4rem;
  left: 0;
  display: flex;
  align-items: center;
	justify-content: center;
  background-color: #f198981e;
  backdrop-filter: blur(0.25rem);
  border-radius: 0.5rem;
  border: 0.125rem solid #e5555540;
}

.pause-menu-overlay {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff33;
	backdrop-filter: blur(0.25rem);
	border-radius: 0.5rem;
}

.pause-menu {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pause-menu-title {
	position: absolute;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3rem;
	color: #e55555;
	position: absolute;
	top: -5rem;
	margin: 0;
	height: 4rem;
	width: 17rem;
	text-align: center;
}

.pause-menu-options {
	display: flex;
  flex-direction: column;
  gap: 1rem;
	width: 17rem;
	position: relative;
}

.game-settings {
	position: absolute;
	top: 15rem;
	display: flex;
  gap: 1rem;
}

.game-settings .section {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.game-settings .section-title {
	margin: 0;
	font-size: 1.25rem;
}

.finish-stats {
	position: relative;
	opacity: 0;
	text-align: center;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3rem;
	color: #e55555;
}

.pause-menu-overlay button, .finish-stats button, .leaderboard-stats button, .submit-user {
	background-color: #ffffff80;
	border: none;
	border-radius: 0.5rem;
	height: 4rem;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 2rem;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	border: 0.125rem solid #00000010;
	padding: 0rem;
	color: #606060;
}

.leaderboard-options {
	display: flex;
	gap: 1rem;
}

.leaderboard-stats button {
	flex: 1;
}

.new-user-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.finish-stats button.loading, .submit-user.loading {
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: loadingRequest;
	animation-timing-function: linear;
	background: #ffffff80;
	background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
	background-size: 1000px 640px;
}

.submit-user {
	padding-top: 0.25rem;
}

.finish-time {
	color: #e55555;
  font-size: 2rem;
	height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
	flex-direction: column;
}

.worse-time, .better-time {
	font-size: 1.5rem;
}

.worse-time {
	color: #b12c2c;
}

.better-time {
	color: #606060;
}

.confetti-explosion {
	position: absolute;
  left: 50%;
  top: 50%;
}

.pause-menu-overlay button:hover, .pause-menu-overlay button:focus, .finish-stats button:hover, .finish-stats button:focus, .leaderboard-stats button:hover, .leaderboard-stats button:focus, .submit-user:hover, .submit-user:focus {
	background-color: #ffffffb0;
	color: #404040;
}

.pause-menu-overlay button:focus-visible, .finish-stats button:focus-visible, .leaderboard-stats button:focus-visible {
	outline: 0px solid #fff;
}
	
.vehicle-stats-overlay { 
	bottom: 0;
}

.vehicle-stats {
	position: relative;
	bottom: 2rem;
}

.vehicle-transmission, .vehicle-speed {
	height: 4rem;
  width: 4rem;
	margin: 0rem;
  display: flex;
  justify-content: center;
	align-items: center;
	padding-top: 0.125rem;
	color: #e55555;
  font-size: 2rem;
}

.vehicle-gear-stats {
	width: 12rem;
  margin: 1rem 0;
	border-radius: 0.5rem;
	background-color: #00000005;
}

.vehicle-speed-bar {
	background-color: #e55555;
	height: 100%;
	transition: width 0.05s ease-in-out;
	border-radius: 0.5rem;
}

.circuit-stats {
	position: relative;
	top: 2rem;
	justify-content: space-between;
	width: 20rem;
	padding: 0 1.5rem;
}

.vehicle-stats, .circuit-stats {
	display: flex;
	height: 4rem;
	font-family: 'Bebas Neue', sans-serif;
	border-radius: 0.5rem;
	background-color: #ffffff33;
	backdrop-filter: blur(0.25rem);
	border: 0.125rem solid #00000010;
}

.circuit-lap, .circuit-time {
	height: 4rem;
	margin: 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0.125rem;
	color: #e55555;
	font-size: 2rem;
}

.reset-alert {
	margin-bottom: 20% ;
}

.reset-message {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3rem;
	color: #e55555;
}

.source-info-buttons {
	position: absolute;
	top: 2rem;
	right: 2rem;
	display: flex;
}

.mobile-source-code {
	text-decoration: none;
	background-color: #ffffff33;
	backdrop-filter: blur(0.25rem);
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	border: 0.125rem solid #00000010;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	font-size: 1.5rem;
	padding: 0 1rem;
	color: #606060;
	position: absolute;
	bottom: 3rem;
}

.game-option-btn {
	background-color: #ffffff33;
	backdrop-filter: blur(0.25rem);
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	border: 0.125rem solid #00000010;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.game-option-btn svg {
	width: 1.75rem;
	height: 1.75rem;
	fill: #606060;
	transition: all 0.4s ease-in-out;
}

.game-option-btn:hover {
	background-color: #f0f0f0;
}

.game-option-btn:hover svg {
	fill: #404040;
}


.pause-button-overlay {
	transform: none !important;
	width: 4rem;
	height: 4rem;
	display: flex !important;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
	top: 2rem !important;
	right: 2rem !important;
	left: unset !important;
}

.settings-button-overlay {
	transform: none !important;
	width: 4rem;
	height: 4rem;
	display: flex !important;
	justify-content: start;
	align-items: center;
	gap: 0.5rem;
	top: 2rem !important;
	left: 2rem !important;
	position: relative;
}

.settings-options {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.25rem;
	background-color: #FAFAFA;
	width: fit-content;
	padding: 1rem;
	border-radius: 0.5rem;
	border: 0.05rem solid #E0E0E0;
	opacity: 0;
	transition: opacity 0.4s ease-in;
	top: 6rem;
}

.settings-options.active {
	opacity: 1;
}

.settings-options span {
	font-family: 'Bebas Neue', sans-serif;
	width: max-content;
}

.settings-options-title {
	font-size: 1.5rem;
	color: #404040;
}

.settings-options-text {
	font-size: 1.25rem;
	color: #606060;
}

@media screen and (max-width: 1080px) {
	.keyboard-controls {
		width: 100%;
	}
}

.cls-1 {
	fill: #f0f0f0;
}

.cls-2 {
	fill: #fff;
}

.cls-3, .cls-4 {
	fill: #aaa;
}

.cls-6 {
	fill: #f7f7f7;
}

.cls-7 {
	fill: #eee;
}

input.new-user {
	height: 4rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', sans-serif;
  outline: none;
  color: #606060;
  border-radius: 0.5rem;
  border: 0.5px solid #E0E0E0;
  caret-color: #606060;
  background-color: white;
  transition: background-color .2s ease-in-out;
}

input.new-user:focus, input.new-user:hover {
	background-color: #fafafa;
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* Wrapper */
.wrapper {
  width: 12rem;
  height: 100%;
  display: flex;
  justify-content: center;
	position: relative;
}

/* Custom Toggle */
#custom-toggle {
	width: 11rem;
	padding: 0 0.5rem;
  background-color: #333;
  margin: 0;
  cursor: pointer;
	border-radius: 0.5rem;
  border: 0.125rem solid #00000010;
	background-color: #ffffff33;
}

#custom-toggle ~ span {
	width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	position: absolute;
	pointer-events: none;
}

#custom-toggle.tgl-max ~ span {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="%23606060" d="M40-440v-80h240v80H40Zm270-154-84-84 56-56 84 84-56 56Zm130-86v-240h80v240h-80Zm210 86-56-56 84-84 56 56-84 84Zm30 154v-80h240v80H680Zm-200 80q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35Zm198 134-84-84 56-56 84 84-56 56Zm-396 0-56-56 84-84 56 56-84 84ZM440-40v-240h80v240h-80Z"/></svg>');
	right: 1.3rem;
	top: 1.25rem;
}

#custom-toggle.tgl-med ~ span {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="%23606060" d="M440-800v-120h80v120h-80Zm0 760v-120h80v120h-80Zm360-400v-80h120v80H800Zm-760 0v-80h120v80H40Zm708-252-56-56 70-72 58 58-72 70ZM198-140l-58-58 72-70 56 56-70 72Zm564 0-70-72 56-56 72 70-58 58ZM212-692l-72-70 58-58 70 72-56 56Zm268 452q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Z"/></svg>');
	right: 5.25rem;
	top: 1.25rem;
}

#custom-toggle.tgl-min ~ span {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path fill="%23606060" d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>');
	left: 1.3rem;
	top: 1.25rem;
}


#custom-toggle::-webkit-slider-thumb,
#custom-toggle::-moz-range-thumb {
  width: 3rem;
  height: 3rem;
	background-color: #f0f0f0;
	border-radius: 0.25rem;
	border: 0;
}

#custom-toggle:focus {
  outline: none;
}

@keyframes loadingRequest {
	0% {
		background-position: -500px 0
	}
	100% {
		background-position: 500px 0
	}
}